.indexContainer .banslider{
    margin-bottom: 155px;
}
.indexContainer>ul li{
    position: relative;
    color: var(--gs1);
}
.indexContainer>ul li::before{
    position: absolute;
    border-left: 12px solid var(--vs7);
    top: 400px;
    left: 203px;
    height: 99px;
    content: '';
    display: block;
}
.indexContainer>ul li strong{
    position: absolute;
    top: 400px;
    left: 255px;
}
.indexContainer>ul li h2{
    position: absolute;
    top: 445px;
    left: 255px;
}


.indexContainer .contentBanner01{
    margin-bottom: 130px;
}
.indexContainer .contentBanner01 h2{
    margin-bottom: 25px;
}
.indexContainer .contentBanner01 div{
    margin-bottom: 120px;
}
.indexContainer .contentBanner01 div p{
    display: inline-block;
    margin-right: 10px;
}
.indexContainer .contentBanner01 div a{
    background: url('/images/maincon01_more.png') no-repeat center / contain;
    width: 102px;
    height: 7px;
    display: inline-block;
}
.indexContainer .contentBanner01 .carouselWay4{
    /* display: flex; */
}
.indexContainer .contentBanner01 .carouselWay4 li{
    /* flex-wrap: wrap; */
    width: 325px;
    margin-right: 40px;
}
.indexContainer .contentBanner01 .carouselWay4 li:first-child{
    margin-left: 255px;
}
.indexContainer .contentBanner01 .carouselWay4 li strong{
    display: inline-block;  
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 15px 0;
}
.indexContainer .contentBanner01 .carouselWay4 li span{
    display: block;
    margin-bottom: 40px;
    color: var(--gs9);
}
.indexContainer .contentBanner01 .carouselWay4 li b{
    display: block;
    text-align: right;
    color: var(--gs6);
}


.indexContainer .contentBanner02>div div{
    float: left;
}
.indexContainer .contentBanner02 div:nth-child(2) div{
    float: right;
}

/* .contentBanner03::after{
    content: '';
    display: block;
    clear: both;
}
.contentBanner03>div h2 a{
    display: inline-block;
    
}
.contentBanner03>div h2 a::after{
    background: url('/images/maincon03_more.png') no-repeat center / contain;
    width: 7px;
    height: 11px;
    clear: both;
} */