.indexContainer .banslider li{
    position: relative;
    color: var(--gs1);
}
.indexContainer .banslider li::before{
    display: block;
    position: absolute;
    content: '';
    border-left: 12px solid var(--vs7);
    top: 400px;
    left: 203px;
    height: 99px;
}
.indexContainer .banslider li strong{
    position: absolute;
    top: 400px;
    left: 255px;
}
.indexContainer .banslider li h2{
    position: absolute;
    top: 445px;
    left: 255px;
}
.indexContainer>.bx-wrapper div:nth-child(2)>div:nth-child(2){
    font-family: 'Open Sans';
    font-size: 20px;
    color: var(--gs1);
    top: 525px;
    left: 255px;
    padding: 0;
    width: auto;
    height: 5%;
    text-align: left;
}
.indexContainer>.bx-wrapper div:nth-child(2)>.bx-pager::first-letter{
    font-size: 34px;
}
.indexContainer>.bx-wrapper div:nth-child(2) div:first-child a{
    top: 550px;
    z-index: 100;
}
.indexContainer>.bx-wrapper div:nth-child(2) div:first-child .bx-prev{
    background: url('../images/mainBanL.png') no-repeat;
    left: 365px;
}
.indexContainer>.bx-wrapper div:nth-child(2) div:first-child .bx-next {
    background: url('../images/mainBanR.png') no-repeat;
    left: 430px;
}
/* banslider Fin */
.indexContainer .contentBanner01{
    margin: 155px 0 190px;
}
.indexContainer .contentBanner01 h2{
    margin-bottom: 25px;
}
.indexContainer .contentBanner01 .textBox{
    margin-bottom: 120px;
}
.indexContainer .contentBanner01 div p{
    display: inline-block;
    margin-right: 10px;
}
.indexContainer .contentBanner01>div>a{
    background: url('../images/maincon01_more.png') no-repeat center bottom;
    display: inline-block;
    text-align: center;
    width: 102px;
    vertical-align: text-bottom;
    padding: 0 0 5px;
}
.indexContainer .contentBanner01 .bx-wrapper{
    max-width: 1665px !important; margin-left: auto;
}
.indexContainer .contentBanner01 .carouselWay4 li a{
    display: block;
    width: 325px;
    margin-right: 40px;
}
.indexContainer .contentBanner01 .carouselWay4 li strong{
    display: block;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 15px 0;
    height: 23px;
}
.indexContainer .contentBanner01 .carouselWay4 li span{
    display: block;
    margin-bottom: 40px;
    color: var(--gs9);
}
.indexContainer .contentBanner01 .carouselWay4 li b{
    display: block;
    text-align: right;
    color: var(--gs6);
}
.indexContainer .contentBanner01 .bx-wrapper div:nth-child(2)>div{
    top: 415px;
}
.indexContainer .contentBanner01 .bx-wrapper div:nth-child(2)>.bx-pager{
    display: flex;
    width: 86.71%;
}
.indexContainer .contentBanner01 .bx-wrapper div:nth-child(2)>.bx-pager .bx-pager-item a{
    width: 470px;
    height: 1px;
    margin: 0;
    background-color: var(--gs6);
}
.indexContainer .contentBanner01 .bx-wrapper div:nth-child(2)>.bx-pager .bx-pager-item a.active{
    height: 3px;
    margin-top: -1px;
    background-color: var(--gs11);
}
/* contentBanner01 Fin */
.indexContainer .contentBanner02{
    border-bottom: 1px solid var(--gs5);
    margin-left: auto;
}
.indexContainer .contentBanner02>div:first-of-type:after{
    content: ''; 
    display: block; 
    clear: both;
}
.indexContainer .contentBanner02>div:first-of-type>div{
    float: left; 
    width: 50%;
}
.indexContainer .contentBanner02>div:first-of-type>div:first-of-type{
    position: relative;
    width: 50%;
    padding-top: 140px;
    padding-left: 16.666%;
    box-sizing: border-box;
}
.indexContainer .contentBanner02>div:first-of-type>div:first-of-type h2:before{
    background-color: var(--rs4);
    content: '';
    width: 190px;
    height: 7px;
    position: absolute;
    display: block;
    right: -30px;
    z-index: 100;
}
.indexContainer .contentBanner02>div:first-of-type>div:first-of-type h2 strong{
    display: block;
    color: var(--rs7);
    line-height: 35px;
    margin-bottom: 25px;
}
.indexContainer .contentBanner02>div:first-of-type>div:first-of-type p{
    color: var(--gs9);
    line-height: 30px;
}
.indexContainer .contentBanner02>div:first-of-type>div:first-of-type>a{
    background: url('../images/maincon02_more.png') no-repeat 82.5% center / 6px 11px;
    display: inline-block;
    color: var(--rs6);
    border: 1px solid var(--rs6);
    padding: 20px 85px 20px 70px;
    margin: 65px 0;    
    margin-left: 360px;
}
.indexContainer .contentBanner02>div:first-of-type>div:first-of-type ol{
    padding-left: 65px;
    position: relative;
    border-left: 2px solid var(--gs5);
}
.indexContainer .contentBanner02>div:first-of-type>div:first-of-type ol li:not(:last-child){
    margin-bottom: 40px;
}
.indexContainer .contentBanner02>div:first-of-type>div:first-of-type ol li a{
    cursor: pointer;
    color: var(--gs6);
    display: block;
}
.indexContainer .contentBanner02>div:first-of-type>div:first-of-type ol li a.active::before{
    position: absolute;
    content: '';
    left: -3px;
    width: 4px;
    height: 30px;
    background-color: var(--gs11);
}
.indexContainer .contentBanner02>div:first-of-type>div:first-of-type ol li a.active{
    color: var(--gs11);
    font-weight: 700;
}
.indexContainer .contentBanner02>div:nth-child(2)>div{
    float: left;
    width: 50%;
}
.indexContainer .contentBanner02>div:nth-child(2) div:nth-child(2) ol{
    position: relative;
    border-left: 2px solid var(--gs5);
    padding-left: 30px;
}
.indexContainer .contentBanner02>div:nth-child(2) div:nth-child(2) ol li:not(:last-child){
    margin-bottom: 40px;
}
.indexContainer .contentBanner02>div:nth-child(2) div:nth-child(2) ol li a{
    cursor: default;
    color: var(--gs6);
}
.indexContainer .contentBanner02>div:nth-child(2) div:nth-child(2) ol li a.active::before{
    position: absolute;
    content: '';
    left: -3px;
    width: 4px;
    height: 30px;
    background-color: var(--gs11);
}
.indexContainer .contentBanner02>div:nth-child(2) div:nth-child(2) ol li a.active{
    color: var(--gs11);
    font-weight: 700;
}
.indexContainer .contentBanner02>div:nth-child(2)>.picSliderH{
    width: 50%;
    padding-top: 140px;
    position: relative;
}
.indexContainer .contentBanner02>div:nth-child(2) div:nth-child(2){
    position: relative;
    padding-left: 220px;
    box-sizing: border-box;
}
.indexContainer .contentBanner02>div:nth-child(2) div:nth-child(2) h2::before{
    background-color: var(--rs4);
    content: '';
    width: 190px;
    height: 7px;
    position: absolute;
    display: block;
    left: -30px;
}
.indexContainer .contentBanner02>div:nth-child(2) div:nth-child(2) h2{
    padding-top: 135px;
}
.indexContainer .contentBanner02>div:nth-child(2) div:nth-child(2) h2 strong{
    display: block;
    color: var(--rs7);
    line-height: 35px;
    margin-bottom: 25px;
}
.indexContainer .contentBanner02>div:nth-child(2) div:nth-child(2) p{
    color: var(--gs9);
    line-height: 30px;
}
.indexContainer .contentBanner02>div:nth-child(2) div:nth-child(2)>a{
    background: url('../images/maincon02_more.png') no-repeat 82.5% center / 6px 11px;
    display: inline-block;
    color: var(--rs6);
    border: 1px solid var(--rs6);
    padding: 20px 85px 20px 70px;
    margin: 65px 0;    
    margin-left: 200px;
}
.indexContainer .contentBanner02>div .picSliderE li,
.indexContainer .contentBanner02>div .picSliderH li{
    overflow: hidden;
}
.indexContainer .contentBanner02>div .picSliderE li img,
.indexContainer .contentBanner02>div .picSliderH li img{
    transition: all 0.5s linear;
}
.indexContainer .contentBanner02>div .picSliderE li img:hover,
.indexContainer .contentBanner02>div .picSliderH li img:hover{
    transform: scale(1.03);
}
/* contentBanner02 Fin */
.indexContainer .contentBanner03>div:not(:last-child){
    box-sizing: border-box;
    padding: 75px 70px;
    width: 50%;
}
.indexContainer .contentBanner03>div:not(:last-child) h2{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    color: var(--os10);
}
.indexContainer .contentBanner03>div:first-child{
    border-right: 1px solid var(--gs5);
}
.indexContainer .contentBanner03>div:first-child h2{
    margin-bottom: 60px;
}
.indexContainer .contentBanner03>div:first-child h2 a{
    background: url('../images/maincon03_more.png') no-repeat right center / 6px 11px;
    padding-right: 15px;
}
.indexContainer .contentBanner03>div:first-child ul li{
    justify-content: space-between;
}
.indexContainer .contentBanner03>div:first-child ul li a,
.indexContainer .contentBanner03>div:first-child ul li time{
    display: inline-block;
    color: var(--gs9);
    margin-bottom: 15px;
}
.indexContainer .contentBanner03>div:first-child ul li a:hover{
    text-decoration: underline;
}
.indexContainer .contentBanner03>div:first-child ul li time{
    padding-top: 4px;
}
.indexContainer .contentBanner03>div:nth-child(2) ul{
    display: flex;
}
.indexContainer .contentBanner03>div:nth-child(2) ul li a{
    display: inline-block;
    width: 100%;
    padding-top: 120px;
}
.indexContainer .contentBanner03>div:nth-child(2) ul li{
    width: 33.33%;
    box-sizing: border-box;
    text-align: center;
}
.indexContainer .contentBanner03>div:nth-child(2) ul li:first-child a{
    background: url('../images/maincon03_res.png') no-repeat center top;
    
}
.indexContainer .contentBanner03>div:nth-child(2) ul li:nth-child(2) a{
    background: url('../images/maincon03_inpuiry.png') no-repeat center top/ 100px 100px;
}
.indexContainer .contentBanner03>div:nth-child(2) ul li:last-child a{
    background: url('../images/maincon03_lost.png') no-repeat center top/ 100px 100px;
}
.indexContainer .contentBanner03>#map{
    background: url('../images/kakao_map.png') no-repeat center / cover; /*지도 임시*/
    position: relative;
    width: 100%;
    height: 550px;
}
.indexContainer .contentBanner03 #map .map_dtl{
    position: absolute;
    top: 160px;
    right: 60px;
    background-color: var(--os3);
    opacity: 0.94;
    color: var(--gs1);
    width: 445px;
    padding: 55px 30px 35px;
}
.indexContainer .contentBanner03 #map .map_dtl h2{
    display: inline-block;
    margin-bottom: 30px;
}
.indexContainer .contentBanner03 #map .map_dtl button{
    display: inline-block;
    border: 1px solid var(--gs1);
    background: none;
    margin-left: 40px;
    color: var(--gs1);
    padding: 10px;
    vertical-align: text-bottom;
}
.indexContainer .contentBanner03 #map .map_dtl address{
    line-height: 26px;
}
.indexContainer .contentBanner03 #map .map_dtl address b{
    display: block;
    line-height: 26px;
}
/* contentBanner03 Fin */
/* 상세페이지 시작 */
.newContainer div:nth-child(2) h3+ul li{
    border-bottom: 1px solid var(--gs5);
    padding: 20px 0;
}
.newContainer div:nth-child(2) ul li a{
    display: flex;
}
.newContainer div:nth-child(2) ul li a span:first-child{
    width: 5%;
    padding-left: 30px;
}
.newContainer div:nth-child(2) ul li a span:nth-child(2){
    width: 15%;
    color: var(--gs9);
}
.newContainer div:nth-child(2) ul li a strong{
    width: 70%;
}
.newContainer div:nth-child(2) ul li a time{
    background: url('../images/newdet_calendar.png') no-repeat left / contain;
    width: 10%;
    padding-left: 30px;
    color: var(--gs10);
    background-size: 12px;
}
.newContainer .paging{
    display: flex;
    width: 240px;
    justify-content: space-between;
    padding-top: 125px;
}
.newContainer .paging>a{
    font-size: 0;
}
.newContainer .paging>a:first-child{
    background: url('../images/newdet_first.png') no-repeat center / contain;
    width: 12px;
}
.newContainer .paging>a:nth-child(2){
    background: url('../images/newdet_pre.png') no-repeat center / contain;
    width: 8px;
}
.newContainer .paging>a:nth-child(4){
    background: url('../images/newdet_next.png') no-repeat center / contain;
    width: 8px;
}
.newContainer .paging>a:last-child{
    background: url('../images/newdet_last.png') no-repeat center / contain;
    width: 12px;
}
/* newNotice Fin */
.newContainer article h3{
    text-align: center;
    padding: 95px 0;
}
.newContainer article div h4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 35px;
    border-bottom: 1px solid var(--gs5);
}
.newContainer article div h4 small{
    width: 100%;
    display: block;
    margin-bottom: 30px;
    color: var(--gs9);
}
.newContainer article div h4 time{
    color: var(--gs7);
    background: url('../images/newdetD_calendar.png') no-repeat left / contain;
    padding-left: 20px;
    background-size: 11px;
    line-height: 27px;
}
.newContainer article div figure{
    padding: 30px 25px 100px;
    text-align: center;
    display: inline-block;
}
.newContainer article div figure img{
    width: 100%;
}
.newContainer article div figure figcaption{
    font-size: 0;
}
.newContainer article .innerPager{
    display: flex;
    padding: 110px 20px 0;
    width: 100%;
    border-top: 1px solid var(--gs5);
    box-sizing: border-box;
}
.newContainer article .innerPager li{
    justify-content: space-between;
    width: 33.33%;
}
.newContainer article .innerPager li:first-child{
    background: url('../images/newdetD_pre.png') no-repeat left;
    padding: 10px 0 0 50px;
}
.newContainer article .innerPager li:last-child{
    background: url('../images/newdetD_next.png') no-repeat right;
    padding: 10px 50px 0 0px;
    padding-right: 50px;
    text-align: right;
}
.newContainer article .innerPager li a span{
    display: block;
    color: var(--gs9);
    margin-bottom: 10px;
}
.newContainer article .innerPager li a strong{
    line-height: 22px;
}
.newContainer article .innerPager li:nth-child(2){
    text-align: center;
}
.newContainer article .innerPager li:nth-child(2) a{
    background: url('../images/newdetD_list.png') no-repeat 45px center;
    display: inline-block;
    background-color: var(--vs8);
    color: var(--gs1);
    padding: 0px 50px 0px 80px;
    line-height: 60px;
}
/* newNotice detail Fin */
.howContainer .detail_contents{
    /* margin: 0 auto; */
    text-align: center;
}
.howContainer .detail_contents>div{
    margin: 30px 0 0;
    display: inline-block;
    background-color: var(--gs2);
    padding: 0  35px 65px 35px;
    width: 95.744%;
    box-sizing: border-box;
    position: relative;
}
.howContainer .detail_contents div>p:first-child{
    color: var(--vs9);
    width: 600px;
    line-height: 50px;
    text-align: center;
    margin: 65px auto;
}
.howContainer .detail_contents>div img{
    display: inline-block;
    width: 100%;
    margin-bottom: 100px;
}
.howContainer .detail_contents div>.imgBox h4{
    position: absolute;
    left: 60px;
    top: 330px;
    color: var(--gs1);
    line-height: 30px;
    text-align: left;
    width: 330px;
    border-bottom: 1px solid var(--gs1);
    padding-bottom: 20px;
    font-size: 24px;
}
.howContainer .detail_contents div>.imgBox h4 mark{
    color: var(--os1);
    background-color: transparent;
    font-style: normal;
}
.howContainer .detail_contents div>.imgBox p{
    position: absolute;
    left: 60px;
    top: 420px;
    color: var(--gs1);
    line-height: 20px;
    text-align: left;
    width: 350px;
}
.howContainer .detail_contents div dl{
    text-align: left;
}
.howContainer .detail_contents div dl dt{
    background: url('../images/how_text.png') no-repeat left;
    margin-bottom: 30px;
    padding-left: 25px;
}
.howContainer .detail_contents div dl dd{
    padding-left: 25px;
    margin-bottom: 20px;
    line-height: 22px;
}
.howContainer .detail_contents div dl{
    margin-bottom: 55px;
}
.howContainer .detail_contents div dl:last-of-type{
    margin-bottom: 180px;
}
.howContainer .detail_contents div p:nth-of-type(2),
.howContainer .detail_contents div p:nth-of-type(3){
    background: url('../images/how_text.png') no-repeat left;
    margin-bottom: 55px;
    padding-left: 30px;
    text-align: left;
}
.howContainer .detail_contents div .safetyBox{
    padding: 40px 0 40px 320px;
    background: url('../images/how_safety.png') no-repeat left ;
    background-position: 40px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--gs8);
    border-radius: 10px;
    text-align: left;
}
.howContainer .detail_contents div .safetyBox h4{
    color: var(--rs1);
    margin-bottom: 30px;
}
.howContainer .detail_contents div .safetyBox ul li p{
    color: var(--gs1);
    line-height: 30px;
}
.howContainer .detail_contents div .safetyBox div{
    margin-top: 50px;
}
.howContainer .detail_contents div .safetyBox div a{
    background: url('../images/how_safetyNext.png') no-repeat right;
    background-position: 90% center;
    display: inline-block;
    background-color: var(--gs1);
    width: 345px;
    line-height: 42px;
    border-radius: 20px;
    text-align: center;
    margin-right: 30px;
}
.howContainer .detail_contents div .safetyBox div input{
    background: url('../images/how_safetyNext.png') no-repeat right;
    background-position: 90% center;
    display: inline-block;
    background-color: var(--gs1);
    border: none;
    width: 49.479%;
    line-height: 42px;
    border-radius: 20px;
    text-align: center;
}
#handicappedPopUp{
    display: none;
}
#handicappedPopUp.active{
    display: block;
}
#handicappedPopUp{
    position: fixed;
    background-color: var(--gs1);
    border: 3px solid var(--os1);
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.7);
    width: 60.937%;
    height: 100vh;
    padding: 80px 30px 90px;
    box-sizing: border-box;
    margin: 0 auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    overflow: scroll;
}
#handicappedPopUp div{
    position: relative;
}
#handicappedPopUp div h2{
    margin-bottom: 50px;
}
#handicappedPopUp div .closemodel{
    background: url('../images/how_pre.png') no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: -20px;
    background-color: transparent;
    font-size: 0;
    border: none;
}
#handicappedPopUp div p:first-child{
    margin: 50px 0;
}
#handicappedPopUp div div h3{
    margin-bottom: 35px;
}
#handicappedPopUp div div:first-of-type{
    margin-top: 50px;
}
#handicappedPopUp div div:first-of-type p{
    margin-bottom: 35px;
    line-height: 30px;
}
#handicappedPopUp div div:first-of-type p>b{
    display: block;
}
#handicappedPopUp div div:nth-of-type(2){
    margin-bottom: 40px;
    line-height: 30px;
}
#handicappedPopUp div div:nth-of-type(3) ol li{
    margin-bottom: 40px;
    line-height: 30px;
}
#handicappedPopUp div div:nth-of-type(3) mark{
    display: block;
    color: red;
    margin-bottom: 15px;
}
#handicappedPopUp div div:nth-of-type(3) mark:last-of-type{
    margin-bottom: 50px;
}
#handicappedPopUp div div:nth-of-type(3) p{
    line-height: 30px;
}
/* howToUse Fin */
.operContainer div:nth-child(2)>strong{
    display: block;
    margin: 110px 0 50px;
    color: var(--os1);
}
.operContainer div:nth-child(2) div ol{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 75px;
    border: 1px solid var(--os1);
    box-sizing: border-box;
    border-radius: 20px;
}
.operContainer div:nth-child(2) div ol li{
    width: 14.286%;
    box-sizing: border-box;
    border: 1px solid var(--gs4);
    height: 160px;
    justify-content: space-between;
}
.operContainer div:nth-child(2) div ol li:nth-child(1){
    border-radius: 15px 0 0 0;
    border: none;
}
.operContainer div:nth-child(2) div ol li:nth-child(7){
    border-radius: 0 15px 0 0;
    border: none;
}
.operContainer div:nth-child(2) div ol li:nth-child(43){
    border-radius: 0 0 0 15px;
}
.operContainer div:nth-child(2) div ol li:nth-child(49){
    border-radius: 0 0 15px 0;
}
.operContainer div:nth-child(2) div ol li:nth-child(1),
.operContainer div:nth-child(2) div ol li:nth-child(2),
.operContainer div:nth-child(2) div ol li:nth-child(3),
.operContainer div:nth-child(2) div ol li:nth-child(4),
.operContainer div:nth-child(2) div ol li:nth-child(5),
.operContainer div:nth-child(2) div ol li:nth-child(6),
.operContainer div:nth-child(2) div ol li:nth-child(7){
    background-color: var(--os1);
    text-align: center;
    color: var(--gs1);
    padding: 25px 0;
    height: 70px;
    border-top: none
}
.operContainer div:nth-child(2) div ol li strong{
    display: block;
    margin: 15px 0 30px 15px;
}
.operContainer div:nth-child(2) div ol li b{
    display: block;
    color: var(--gs7);
    margin-left: 15px;
}
.operContainer div:nth-child(2) p{
    text-align: center;
}
.operContainer div:nth-child(2) p:first-of-type{
    color: var(--os1);
    margin-bottom: 60px;
}
.operContainer div:nth-child(2) p:last-of-type{
    color: var(--gs9);
}
.operContainer div:nth-child(2) p:last-of-type strong{
    color: var(--gs11);
}
/* operatingTime Fin */
.susContainer div:nth-child(2)>div:first-of-type{
    margin: 110px 0;
}
.susContainer div:nth-child(2)>div:first-of-type mark{
    display: block;
    color: var(--os1);
    margin-bottom: 35px;
}
.susContainer div:nth-child(2)>div:first-of-type p:not(:last-child){
    margin-bottom: 20px;
}
.susContainer div:nth-child(2)>div:last-of-type strong{
    display: block;
    text-align: center;
    color: var(--os1);
    margin-bottom: 55px;
}
.susContainer div:nth-child(2)>div:last-of-type div table{
    width: 46.241%;
}
.susContainer div:nth-child(2)>div:last-of-type div table caption{
    border-top: 2px solid var(--os1);
    background-color: rgba(255, 113, 5, 0.3);
    line-height: 75px;
}
.susContainer div:nth-child(2)>div:last-of-type div table tr td{
    border-bottom: 1px solid var(--gs9);
    border-right: 1px solid var(--gs9);
    padding: 25px 0;
    text-align: center;
    line-height: 24px;
}
.susContainer div:nth-child(2)>div:last-of-type div table tr td:last-child{
    border-right: none;
}
.susContainer div:nth-child(2)>div:last-of-type div table tr th{
    border: 1px solid var(--gs9);
    border-left: none;
    background-color: rgba(197, 197, 197, 0.3);
    padding: 25px 0;
}
.susContainer div:nth-child(2)>div:last-of-type div table tr th:last-child{
    border-right: none;
}
.susContainer div:nth-child(2)>div:last-of-type div table tr td mark{
    color: var(--os1);
}
.susContainer div:nth-child(2)>div:last-of-type div table:not(:last-of-type){
    margin-bottom: 55px;
}
.susContainer div:nth-child(2)>div:last-of-type::after{
    content: '';
    display: block;
    clear: both;
}
.susContainer div:nth-child(2)>div:last-of-type .left{
    float: left;
    width: 46.241%;
}
.susContainer div:nth-child(2)>div:last-of-type .left table{
    width: 100%;
}
.susContainer div:nth-child(2)>div:last-of-type .left table:nth-child(2){
    margin-bottom: 30px;
}
.susContainer div:nth-child(2)>div:last-of-type .left table tr td{
    width: 50%;
}
.susContainer div:nth-child(2)>div:last-of-type .right{
    float: right;
    width: 46.241%;
}
.susContainer div:nth-child(2)>div:last-of-type .right table{
    width: 100%;
}
.susContainer div:nth-child(2)>div:last-of-type .right table tr td{
    width: 40%;
    display: table-cell; 
    vertical-align:middle; 
}
.susContainer div:nth-child(2)>div:last-of-type .right table tr td:last-child{
    width: 20%;
}
.susContainer div:nth-child(2)>div:last-of-type .left p{
    width: 430px;
    line-height: 30px;
}
/* suspensionNotice Fin */
.trafContainer div:nth-child(2) h3{
    text-align: center;
    padding: 95px 0;
}
.trafContainer div:nth-child(2) ul{
    display: flex;
    margin-bottom: 100px;
    cursor: pointer;
}
.trafContainer div:nth-child(2) ul li{
    border-bottom: 1px solid var(--gs11);
    position: relative;
    width: 25%;
    text-align: center;
    line-height: 100px;
    color: var(--gs5);
}
.trafContainer div:nth-child(2) ul li:not(:last-child)::after{
    content: '';
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: -1px;
    width: 1px;
    height: 22px;
    border-right: 1px solid var(--gs5);
}
.trafContainer div:nth-child(2) ul li.active{
    border: 1px solid var(--gs11);
    border-bottom: none;
    color: var(--gs11);
}
.trafContainer div:nth-child(2) ul li.active::after{
    content: none;
    border: 0;
}
.trafContainer div:nth-child(2)>div.active{
    display: block;
}
.trafContainer div:nth-child(2)>div{
    display: none;
}
.trafContainer div:nth-child(2) .publicTransport ol li strong{
    display: block;
    margin-bottom: 60px;
}
.trafContainer div:nth-child(2) .publicTransport ol li strong mark{
    color: var(--os1);
}
.trafContainer div:nth-child(2) .publicTransport ol li strong mark:first-child{
    margin-right: 35px;
}
.trafContainer div:nth-child(2) .publicTransport ol li:first-child{
    margin-bottom: 150px;
}
.trafContainer div:nth-child(2) .publicTransport ol li:first-child dl dt::before{
    display: inline-block;
    content: '▶';
    font-size: 10px;
    line-height: 24px;
    margin-right: 10px;
}
.trafContainer div:nth-child(2) .publicTransport ol li:first-child dl dt{
    margin-bottom: 30px;
    display: flex;
}
.trafContainer div:nth-child(2) .publicTransport ol li:first-child dl dd{
    margin-bottom: 20px;
    color: var(--gs8);
}
.trafContainer div:nth-child(2) .publicTransport ol li:last-child b{
    display: flex;
    margin-bottom: 30px;
}
.trafContainer div:nth-child(2) .publicTransport ol li:last-child b:first-of-type:before{
    display: inline-block;
    content: '▶';
    font-size: 10px;
    line-height: 24px;
    margin-right: 10px;
}
.trafContainer div:nth-child(2) .publicTransport ol li:last-child dl{
    margin-bottom: 40px;
}
.trafContainer div:nth-child(2) .publicTransport ol li:last-child dl dt{
    margin-bottom: 15px;
}
.trafContainer div:nth-child(2) .publicTransport ol li:last-child strong:nth-of-type(2){
    margin: 100px 0 40px;
}
.trafContainer div:nth-child(2) .publicTransport ol li:last-child b:nth-of-type(4){
    margin-top: 50px;
}
.trafContainer div:nth-child(2) .byCar dl{
    margin-bottom: 60px;
}
.trafContainer div:nth-child(2) .byCar dl dt::before{
    display: inline-block;
    content: '▶';
    font-size: 10px;
    line-height: 20px;
    margin-right: 5px;
}
.trafContainer div:nth-child(2) .byCar dl dt{
    margin-bottom: 30px;
    display: flex;
}
.trafContainer div:nth-child(2) .byCar dl dd{
    margin-bottom: 20px;
}
.trafContainer div:nth-child(2) .byCar figure{
    display: flex;
    flex-direction: column-reverse;
}
.trafContainer div:nth-child(2) .byCar figure figcaption::before{
    display: inline-block;
    content: '▶';
    font-size: 10px;
    line-height: 20px;
    margin-right: 5px;
}
.trafContainer div:nth-child(2) .byCar figure figcaption{
    display: flex;
    margin-bottom: 30px;
}
.trafContainer div:nth-child(2) .kakaoT b{
    display: block;
    margin-bottom: 50px;
}
.trafContainer div:nth-child(2) .kakaoT b:first-child{
    display: block;
    color: var(--os1);
    margin-bottom: 45px;
}
.trafContainer div:nth-child(2) .kakaoT span{
    display: inline-block;
    margin-left: 30px;
}
.trafContainer div:nth-child(2) .kakaoT p{
    display: block;
    color: var(--gs8);
    width: 53.546%;
    line-height: 26px;
    margin-bottom: 155px;
}
.trafContainer div:nth-child(2) .kakaoT dl:not(:last-child){
    margin-bottom: 70px;
}
.trafContainer div:nth-child(2) .kakaoT dl:nth-of-type(4){
    margin-bottom: 150px;
}
.trafContainer div:nth-child(2) .kakaoT dl dt{
    margin-bottom: 50px;
}
.trafContainer div:nth-child(2) .kakaoT dl dd:not(:last-child){
    margin-bottom: 25px;
}
.trafContainer div:nth-child(2) .regularBus dl{
    margin-bottom: 60px;
}
.trafContainer div:nth-child(2) .regularBus dl dt::before{
    display: inline-block;
    content: '▶';
    font-size: 10px;
    line-height: 24px;
    margin-right: 5px;
}
.trafContainer div:nth-child(2) .regularBus dl dt{
    margin-bottom: 35px;
    display: flex;
}
.trafContainer div:nth-child(2) .regularBus dl dd{
    line-height: 25px;
    color: var(--gs9);

}
.trafContainer div:nth-child(2) .regularBus dl dd:not(:last-child){
    margin-bottom: 20px;
}
.trafContainer div:nth-child(2) .regularBus b{
    display: block;
    margin-bottom: 60px;
}


/* amenities Fin */
.amanContainer div:nth-child(2) strong{
    display: block;
    margin: 110px 0 30px;
}
.amanContainer div:nth-child(2) ul li::after{
    content: '';
    display: block;
    clear: both;
}
.amanContainer div:nth-child(2) ul li:not(:last-child){
    margin-bottom: 115px;
}
.amanContainer div:nth-child(2) ul li img{
    float: left;
    margin-right: 110px;
}
.amanContainer div:nth-child(2) ul li dl{
    float: left;
    width: 60%;
}
.amanContainer div:nth-child(2) ul li dl dt{
    margin-bottom: 30px;
}
.amanContainer div:nth-child(2) ul li dl dd:not(:last-of-type){
    margin-bottom: 20px;
}
.amanContainer div:nth-child(2) ul li dl dd{
    width: 820px;
    line-height: 24px;
    display: flex;
}
.amanContainer div:nth-child(2) ul li dl dd::before{
    content: '-';
    display: block;
    margin-right: 5px;
}
/* amenities Fin */
.guidContainer div:nth-child(2) h3{
    margin-bottom: 55px;
}
.guidContainer div:nth-child(2) div{
    position: relative;
}
.guidContainer div:nth-child(2) img{
    width: 100%;
}
.guidContainer div:nth-child(2)>div div:nth-of-type(1){
    position: absolute;
    top: 70px;
    left: 4.255%;
    width: 540px;
}
.guidContainer div:nth-child(2)>div div:nth-of-type(1) strong{
    line-height: 51px;
}
.guidContainer div:nth-child(2)>div div:nth-of-type(1) p{
    color: var(--gs8);
    width: 410px;
    margin-top: 50px;
}
.guidContainer div:nth-child(2)>div div:nth-of-type(1) p mark{
    color: var(--os1);
}
.guidContainer div:nth-child(2)>div div:nth-of-type(1) a{
    display: inline-block;
    padding: 25px 85px;
    background-color: var(--os1);
    color: var(--gs1);
    margin-top: 50px;
}
.guidContainer div:nth-child(2)>div div:nth-of-type(2){
    position: absolute;
    top: 70px;
    right: 32.624%;
    line-height: 55px;
    width: 13.879%;
}
.guidContainer div:nth-child(2)>div div:nth-of-type(2) p{
    color: var(--gs5);
}
.guidContainer div:nth-child(2)>div div:nth-of-type(2) mark{
    color: var(--os1);
}
/* guideMap Fin */
.usagContainer div:nth-child(2)>strong:first-child{
    display: block;
    margin-top: 125px;
    width: 22.340%;
}
.usagContainer div:nth-child(2) strong a::after{
    background: url('../images/usageA.png') no-repeat center / contain;
    content: '';
    display: inline-block;
    width: 8px;
    height: 12px;
}
.usagContainer div:nth-child(2) strong a{
    display: inline-block;
    color: var(--os1);
    margin-left: 50px;
}
.usagContainer div:nth-child(2) table caption{
    font-size: 0;
}
/* .usagContainer div:nth-child(2) table{
    content: '';
    display: block;
    clear: both;
} */
.usagContainer div:nth-child(2) table{
    width: 76.595%;
    /* float: right; */
    text-align: center;
}
.usagContainer div:nth-child(2) table tr th,
.usagContainer div:nth-child(2) table tr td{
    display: table-cell; 
    vertical-align:middle;
    border: 1px solid var(--gs11);
    width: 30%;
}
.usagContainer div:nth-child(2) table tr th,
.usagContainer div:nth-child(2) table tr td:not(:last-child){
    line-height: 60px; 
}
.usagContainer div:nth-child(2) table tr:last-child{
    line-height: 22px;
    height: 90px;
}
.usagContainer div:nth-child(2) div>strong{
    display: block;
}
/* usageFee Fin */

@media screen and (min-width: 1280px) {
    div .linemg~div,
    div article{
        max-width: 1458px;
        margin: 0 auto;
        padding: 0 24px;
        box-sizing: border-box;
    }
    div div:nth-child(2) .linebtm,
    div article .linebtm{
        text-align: center;
        padding: 95px 0;
        border-bottom: 1px solid var(--gs5);
    }
    .conPbtm{
        padding-bottom: 350px;
    }
    div .guide{
        background: url('../images/ever_Header01.png') no-repeat center / cover;
    }
    div .ticket{
        background: url('../images/ever_Header02.png') no-repeat center / cover;
    }
    div .activity{
        background: url('../images/ever_Header03.png') no-repeat center / cover;
    }
    div .member{
        background: url('../images/ever_Header04.png') no-repeat center / cover;
    }
    div .communit{
        background: url('../images/ever_Header05.png') no-repeat center / cover;
    }
    div .everContainer h2{
        display: flex;
        color: var(--gs1);
        justify-content: center;
        padding: 145px 0;
    }
    div .everContainer nav{
        display: flex;
        background-color: var(--gs1);
        width: 46.875%;
        min-width: 660px;
        padding-left: 13.281%;
        box-sizing: border-box;
        align-items: center;
    }
    div .everContainer nav>a{
        display: block;
        background: url('../images/home_nav.png') no-repeat left / contain;
        font-size: 0;
        width: 19px;
        height: 20px;
    }
    div .everContainer nav div{
        position: relative;
    }
    div .everContainer nav div::before{
        border: 1px solid var(--gs4);
        height: 25px;
        content: '';
        position: absolute;
        top: 20px;
    }
    div .everContainer nav div input{
        color: var(--gs11);
        background-color: transparent;
        border: none;
        padding-left: 30px;
        height: 65px;
    }
    div .everContainer nav div::after{
        content: '';
        display: block;
        width: 10px;
        height: 10px;
    }
    div .everContainer nav div.active::after{
        transform: rotate(-180deg);
    }
    div .everContainer nav div:first-of-type::after{
        background: url('../images/det_nav.png') no-repeat center / contain;
        position: absolute;
        right: 30px;
        top: 27px;
    }
    div .everContainer nav div:last-of-type::after{
        background: url('../images/det_nav.png') no-repeat center / contain;
        position: absolute;
        right: 30px;
        top: 27px;
    }
    div .everContainer nav a{
        width: 10%; 
        min-width: 39px;
    }
    div .everContainer nav div{
        width: 45%; 
        min-width: 225px;
        position: relative;
        background-color: var(--gs1);
    }
    div .everContainer nav div ol{
        display: none;
    }
    div .everContainer nav div.active ol{
        display: block;
        z-index: 100;
    }
    div .everContainer nav div:first-of-type ol{
        position: absolute;
        width: 100%;
        top: 64px;
        box-sizing: border-box;
        padding: 20px 0 20px 30px;
        border: 1px solid var(--gs6);
        background-color: var(--gs1);
    }
    div .everContainer nav div:last-of-type ol{
        position: absolute;
        width: 100%;
        top: 64px;
        box-sizing: border-box;
        padding: 20px 0 20px 30px;
        border: 1px solid var(--gs6);
        background-color: var(--gs1);
    }
    div .everContainer nav div ol li:not(:last-child){
        display: block;
        margin-bottom: 20px;
    }
    div .everContainer nav div ol li a{
        color: var(--gs7);
        display: block;
        width: 100%;
    }
    div .everContainer nav div ol li a:hover{
        color: var(--gs11);
        /* font-weight: 600; */
    }
}
/* ?desktop */