.indexContainer .contentBanner01 .bx-wrapper{
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}
.indexContainer>.bx-wrapper div:nth-child(2)>div:nth-child(2){
    font-family: 'Open Sans';
    font-size: 20px;
    color: var(--gs1);
    top: 525px;
    left: 255px;
    padding: 0;
    width: auto;
    height: 5%;
    text-align: left;
}
.indexContainer>.bx-wrapper div:nth-child(2)>.bx-pager::first-letter{
    font-size: 34px;
}
.indexContainer>.bx-wrapper div:nth-child(2) div:first-child a{
    top: 550px;
    z-index: 100;
}
.indexContainer>.bx-wrapper div:nth-child(2) div:first-child .bx-prev{
    background: url('../images/mainBanL.png') no-repeat;
    left: 365px;
}
.indexContainer>.bx-wrapper div:nth-child(2) div:first-child .bx-next {
    background: url('../images/mainBanR.png') no-repeat;
    left: 430px;
}
.indexContainer .contentBanner01 .bx-wrapper div:nth-child(2)>div{
    top: 415px;
}
.indexContainer .contentBanner01 .bx-wrapper div:nth-child(2)>.bx-pager .bx-pager-item a{
    width: 705px;
    height: 1px;
    margin: 0;
    background-color: var(--gs6);
}
.indexContainer .contentBanner01 .bx-wrapper div:nth-child(2)>.bx-pager .bx-pager-item a.active{
    height: 3px;
    margin-bottom: -1px;
    background-color: var(--gs11);
}

.indexContainer .banslider li{
    position: relative;
    color: var(--gs1);
}
.indexContainer .banslider li::before{
    position: absolute;
    border-left: 12px solid var(--vs7);
    top: 400px;
    left: 203px;
    height: 99px;
    content: '';
    display: block;
}
.indexContainer .banslider li strong{
    position: absolute;
    top: 400px;
    left: 255px;
}
.indexContainer .banslider li h2{
    position: absolute;
    top: 445px;
    left: 255px;
}
.indexContainer .contentBanner01{
    margin: 155px 0 190px;
}
.indexContainer .contentBanner01 h2{
    margin-bottom: 25px;
}
.indexContainer .contentBanner01 .textBox{
    margin-bottom: 120px;
}
.indexContainer .contentBanner01 div p{
    display: inline-block;
    margin-right: 10px;
}
.indexContainer .contentBanner01 > div > a{
    background: url('../images/maincon01_more.png') no-repeat center bottom;
    display: inline-block;
    text-align: center;
    width: 102px;
    vertical-align: text-bottom;
    padding: 0 0 5px;
}
.indexContainer .contentBanner01 .carouselWay4 li a{
    display: block;
    width: 325px;
    margin-right: 40px;
}
.indexContainer .contentBanner01 .carouselWay4 li:first-child{
    margin-left: 255px;
}
.indexContainer .contentBanner01 .carouselWay4 li strong{
    display: block;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 15px 0;
    height: 23px;
}
.indexContainer .contentBanner01 .carouselWay4 li span{
    display: block;
    margin-bottom: 40px;
    color: var(--gs9);
}
.indexContainer .contentBanner01 .carouselWay4 li b{
    display: block;
    text-align: right;
    color: var(--gs6);
}
.indexContainer .contentBanner02{
    border-bottom: 1px solid var(--gs5);
    margin-left: auto;
}
.indexContainer .contentBanner02 > div:first-of-type:after{
    content: ''; 
    display: block; 
    clear: both;
}
.indexContainer .contentBanner02 > div:first-of-type > div{
    float: left; 
    width: 50%;
}
.indexContainer .contentBanner02 > div:first-of-type > div ol{
    padding-left: 65px;
}
.indexContainer .contentBanner02 > div:first-of-type > div:first-of-type{
    position: relative;
    width: 50%;
    padding-top: 140px;
    padding-left: 16.666%;
    box-sizing: border-box;
}
.indexContainer .contentBanner02 > div:first-of-type > div:first-of-type h2:before{
    background-color: var(--rs4);
    content: '';
    width: 190px;
    height: 7px;
    position: absolute;
    display: block;
    right: -30px;
    z-index: 1000;
}
.indexContainer .contentBanner02 > div:first-of-type > div:first-of-type h2 strong{
    display: block;
    color: var(--rs7);
    line-height: 35px;
    margin-bottom: 25px;
}
.indexContainer .contentBanner02 > div:first-of-type > div:first-of-type ol li:not(:last-child){
    margin-bottom: 40px;
}
.indexContainer .contentBanner02 > div:first-of-type > div:first-of-type ol li a{
    cursor: default;
    color: var(--gs6);
}
.indexContainer .contentBanner02 > div:first-of-type > div:first-of-type ol li a.active::before{
    display: block;
    content: '';
    position: absolute;
    left: -2px;
    width: 3px;
    height: 30px;
    background-color: var(--gs11);
}
.indexContainer .contentBanner02 > div:first-of-type > div:first-of-type ol li a.active{
    color: var(--gs11);
    font-weight: 700;
}
.indexContainer .contentBanner02>div>div:first-of-type ol{
    position: relative;
    border-left: 1px solid var(--gs6);
}
.indexContainer .contentBanner02>div:nth-child(2) div:nth-child(2) ol{
    border-left: 1px solid var(--gs6);
}
.indexContainer .contentBanner02>div:nth-child(2) div ol{
    position: relative;
}
.indexContainer .contentBanner02>div:nth-child(2) div ol li a.active::before{
    position: absolute;
    content: '';
    left: -2px;
    width: 3px;
    height: 30px;
    background-color: var(--gs11);
}
.indexContainer .contentBanner02>div:nth-child(2) div ol li a.active{
    color: var(--gs11);
    font-weight: 700;
    
}
.indexContainer .contentBanner02 > div:nth-child(2) > div{
    float: left;
    width: 50%;
}
.indexContainer .contentBanner02 > div:nth-child(2) > .picSliderH{
    width: 50%;
    padding-top: 140px;
    position: relative;
}
.indexContainer .contentBanner02>div:nth-child(2) div{
    position: relative;
}
.indexContainer .contentBanner02>div:nth-child(2) div h2::before{
    background-color: var(--rs4);
    content: '';
    width: 190px;
    height: 7px;
    position: absolute;
    display: block;
    left: -30px;
}
.indexContainer .contentBanner02>div:nth-child(2) div h2 strong{
    display: block;
    color: var(--rs7);
    line-height: 35px;
    margin-bottom: 25px;
}
.indexContainer .contentBanner02 div div p{
    color: var(--gs9);
    line-height: 30px;
}
.indexContainer .contentBanner02>div:nth-child(2) div ol li{
    margin-bottom: 40px;
}
.indexContainer .contentBanner02>div:nth-child(2) div ol li a{
    cursor: default;
    color: var(--gs6);
}
.indexContainer .contentBanner02 div div > a{
    background: url('../images/maincon02_more.png') no-repeat 82.5% center / 6px 11px;
    display: inline-block;
    color: var(--rs6);
    border: 1px solid var(--rs6);
    padding: 20px 85px 20px 70px;
    margin: 65px 0;    
    margin-left: 350px;
}
.indexContainer .contentBanner02>div:nth-child(2) div > a{
    margin-left: 200px;
}
.indexContainer .contentBanner02>div:nth-child(2) div:nth-child(2){
    padding-left: 220px;
    box-sizing: border-box;
}
.indexContainer .contentBanner02>div:nth-child(2) div:nth-child(2) h2{
    padding-top: 135px;
}
.indexContainer .contentBanner02>div:nth-child(2) div:nth-child(2) ol{
    padding-left: 30px;
}
.indexContainer .contentBanner02>div .picSliderE li,
.indexContainer .contentBanner02>div .picSliderH li{
    overflow: hidden;
}
.indexContainer .contentBanner02>div .picSliderE li img,
.indexContainer .contentBanner02>div .picSliderH li img{
    transition: all 0.5s linear;
}
.indexContainer .contentBanner02>div .picSliderE li img:hover,
.indexContainer .contentBanner02>div .picSliderH li img:hover{
    transform: scale(1.03);
}
.indexContainer .contentBanner03>div:first-child{
    border-right: 1px solid var(--gs5);
}
.indexContainer .contentBanner03 div:not(:last-child){
    box-sizing: border-box;
    padding: 75px 70px;
    width: 50%;
}
.indexContainer .contentBanner03>div:not(:last-child) h2{
    margin-bottom: 35px;
    justify-content: space-between;
    align-items: center;
    color: var(--os10);
}
.indexContainer .contentBanner03>div:first-child h2{
    margin-bottom: 60px;
}
.indexContainer .contentBanner03>div:first-child h2 a{
    background: url('../images/maincon03_more.png') no-repeat right center / 6px 11px;
    padding-right: 15px;
}
.indexContainer .contentBanner03>div ul li a,
.indexContainer .contentBanner03>div ul li time{
    display: inline-block;
    color: var(--gs9);
    margin-bottom: 15px;
}
.indexContainer .contentBanner03>div ul li time{
    padding-top: 4px;
}
.indexContainer .contentBanner03>div ul li{
    justify-content: space-between;
}
.indexContainer .contentBanner03>div:first-child ul li a:hover{
    text-decoration: underline;
}
.indexContainer .contentBanner03 div:nth-child(2) ul{
    display: flex;
    align-items: flex-start;
}
.indexContainer .contentBanner03 div:nth-child(2) ul li a{
    display: block;
}
.indexContainer .contentBanner03 div:nth-child(2) ul li{
    padding-top: 120px;
    justify-content: space-between;
    width: 33.33%;
    text-align: center;
}
.indexContainer .contentBanner03 div:nth-child(2) ul li:first-child{
    background: url('../images/maincon03_res.png') no-repeat center top/ 100px 100px;
}
.indexContainer .contentBanner03 div:nth-child(2) ul li:nth-child(2){
    background: url('../images/maincon03_inpuiry.png') no-repeat center top/ 100px 100px;
}
.indexContainer .contentBanner03 div:nth-child(2) ul li:last-child{
    background: url('../images/maincon03_lost.png') no-repeat center top/ 100px 100px;
}
.indexContainer .contentBanner03>div h2 a::after{
    background: url('../images/maincon03_more.png') no-repeat center top/ 100px 100px;
    width: 7px;
    height: 11px;
    clear: both;
}
.indexContainer .contentBanner03>div:last-child{
    background: url('../images/kakao_map.png') no-repeat center / cover; /*임시*/
    position: relative;
    width: 100%;
    height: 550px;
}
.indexContainer .contentBanner03 #map .map_dtl{
    position: absolute;
    top: 160px;
    right: 60px;
    background-color: var(--os3);
    opacity: 0.94;
    color: var(--gs1);
    width: 445px;
    padding: 55px 30px 35px;
}
.indexContainer .contentBanner03 #map .map_dtl h2{
    display: inline-block;
    margin-bottom: 30px;
}
.indexContainer .contentBanner03 #map .map_dtl button{
    display: inline-block;
    margin-left: 40px;
    border: 1px solid var(--gs1);
    background: none;
    color: var(--gs1);
    padding: 10px;
    vertical-align: text-bottom;
}
.indexContainer .contentBanner03 #map .map_dtl address{
    line-height: 26px;
}
.indexContainer .contentBanner03 #map .map_dtl address b{
    display: block;
    line-height: 26px;
}
/* 상세페이지 시작 */
.newsContainer div:first-child{
    background: url('../images/ever_Header01.png') no-repeat center;
}
.newsContainer div:first-child h2{
    display: flex;
    color: var(--gs1);
    justify-content: center;
    padding-top: 145px;
}
.newsContainer div:first-child nav{
    display: flex;
    background-color: var(--gs1);
    width: 900px;
    height: 65px;
}
.newsContainer div:first-child nav::before{
    width: 255px;
    content: '';
}
.newsContainer div:first-child nav a{
    background: url('../images/home_nav.png') no-repeat;
    text-indent: -9999px;
}
.newsContainer div:first-child nav div{

}
.newsContainer div:first-child nav div input{
    color: var(--gs11);
    background-color: transparent;
    border: none;
}
/* .newsContainer div:first-child nav div{
    content: '';
    display: block;
    clear: both;
} */
.newsContainer div:first-child nav div:first-of-type input{
    background: url('../images/det_nav.png') no-repeat;
}
.newsContainer div:first-child nav div:last-of-type input{
    background: url('../images/det_nav.png') no-repeat;
}
.newsContainer div:first-child nav div ol{
    display: none;
}
.newsContainer div:nth-child(2) h3{
    text-align: center;
    padding: 95px 0;
    border-bottom: 1px solid var(--gs5);
}
@media screen and (min-width: 1280px) {
    .newsContainer>div:not(:first-child){
        max-width: 1410px;
        margin: 0 auto;
    }
}
/* ?desktop */